[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio
	branch = master
[submodule "deps/http_parser"]
	path = deps/http_parser
	url = https://github.com/nodejs/http-parser
	branch = main
[submodule "deps/fmtlib"]
	path = deps/fmtlib
	url = https://github.com/fmtlib/fmt
	branch = master
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v2.x
