[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio
	branch = master
[submodule "deps/http_parser"]
	path = deps/http_parser
	url = https://github.com/nodejs/http-parser
	branch = main
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v2.x
[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = master
[submodule "deps/llhttp"]
	path = deps/llhttp
	url = https://github.com/nodejs/llhttp
	branch = master
